@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-gray-900 dark:text-white;
  }
}

.header {
  margin-bottom: 20px;
}

.employee-select option {
  color: black !important; /* Set the text color to black */
}

.format {
  display: flex;
  flex-direction: row; /* Set the format to a column layout */
}

.hours {
  padding-right: 10px;
}

.employee-hours {
  width: 50px;
}

.employee-name {
  width: 100px;
}

.total-tip {
  margin-left: 20px;
}

.button-container {
  margin-top: 20px;
}

.result {
  display: flex;
  flex-direction: column;
}

.tip-amount-submit {
  padding-right: 40px;
}

.entry-container {
  display: flex;
  margin-top: 20px;
}

.employee-information {
  display: flex;
  align-items: center;
}

.employee-select {
  display: flex;
  padding-right: 20px;
}

.employee-totalHours {
  width: 80px;
}

.switch {
  display: inline-block;
}

.switch input {
  display: none;
}

.switch label {
  display: block;
  width: 50px;
  height: 20px;
  padding: 3px;
  border-radius: 15px;
  border: 2px solid #020000;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}

.switch label::after {
  content: "";
  display: inherit;
  width: 20px;
  height: 20px;
  border-radius: 12px;
  background: #ffffff;
  background-color: black;
  transition: 0.3s;
}

.switch input:checked ~ label {
  border-color: #000000;
  background-color: rgb(92 92 92);;
}

.switch input:checked ~ label::after {
  translate: 30px 0;
  background: #ffffff;
}

.switch input:disabled ~ label {
  opacity: 0.5;
  cursor: not-allowed;
}
